@import url("https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georama", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: #acd2fb;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: rgba(61, 61, 240, 0.8);
  padding: 10px 16px;
  border-radius: 30px;
  position: relative;
}

a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: rgba(61, 61, 240, 0.8);
  border-radius: 30px;
  z-index: -1;
  transition: all 0.3s;
}

a:hover::before {
  transform: scaleX(1.2) scaleY(1.6);
  opacity: 0;
}

a:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
  transform: translateY(-5px);
}

a:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.7);
}
